<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Homepage | SHOP</title>
</head>
<body class="background-grey">
    <div class="form-lyt background-white expandThis">
        <form action="/" method="post">
            <h2 class="form-header">Login Form</h2>
            <label class="form-label" for="username">Enter your username</label>
            <input type="text" name="id" class="form-input-text" id="username" required autocomplete="off" autofocus placeholder="Username">
            <label class="form-label" for="pwd">Enter your password</label>
            <input type="password" name="pwd" class="form-input-text" id="pwd" required autocomplete="off" placeholder="Password">
            <input type="checkbox" name="cookie" id="cookie" class="form-checkbox" name="ok">
            <label class="form-label" for="cookie">Remember me</label>
            <button type="submit" class="form-button">Log In</button> <br><br>&nbsp;
            <a href="/login/forgot" class="form-link">Forgot credentials?</a>
            <a href="/login/newUser" class="form-link">Don't have an account?</a>
        </form>
        <span class="cpr">Copyright © 2020</span>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="style.js"></script>
</body>
</html>